<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let x of arregloJuegos">
      <ion-item>
        <ion-label>
          <div> {{ x.nombre }} : {{ x.consola }} {{ x.desarrollador }}</div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>